<!DOCTYPE html>
<html lang="en">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# MY_APP_NAME_SPACE: http://ogp.me/ns/fb/MY_APP_NAME_SPACE#"
  >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= img %>" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="<%= desc %>" />
    <meta property="fb:app_id" content="632926830452919" />
    <!--twitter share code -->
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= desc %>" />
    <meta name="twitter:image" content="<%= img %>" />
    <meta property="twitter:image:width" content="400" />
    <meta property="twitter:image:height" content="300" />

    <!--<meta name="twitter:card" content="summary_large_image">-->
    <!--end share code-->
  </head>
  <body>
    <script>
      let assessment = new URL(window.location).searchParams.get("assessment");
      //let path_name =(window.location.pathname).substring(window.location.pathname.lastIndexOf('/') + 1);
      window.open(
        "https://codevidhya.com/individual/assessment?assessment=" +
          assessment,
        "_self"
      );
    </script>
  </body>
</html>
